
body {
  padding: 0;
}
.login-user{
     position: absolute;
    top: 76px;
}
.menu{
	text-align: right;
	    line-height: 30px;
    background: aliceblue;
}
.menu > a{
	margin-right: 10px;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 2px;
}
#header{
	 font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: yellow;
}
.sub-menu{
line-height: 30px;
    background: blanchedalmond;
}
.sub-menu > a{
    margin-left: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}
#footer{
	position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: yellow;
    font-style: italic;
    font-weight: bold;
}
.home-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.active{
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}




